    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&laquo;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="row">
          <div class="small-6 medium-3 large-3 large-offset-1 columns">
            {% for contact_item in site.data.contact %}
              {% if forloop.first == true %}
                <h5 class="shadow-black">{{ contact_item.menu_name }}</h5>
              {% endif %}
            {% endfor %}
              
              <ul class="no-bullet shadow-black">
              {% for contact_item in site.data.contact %}
                {% if contact_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% assign domain = site.baseurl %}{% endif %}
                  <li {% if contact_item.class %}class="{{ contact_item.class }}" {% endif %}>
                    <a href="{{ domain }}{{ contact_item.url }}" {% if contact_item.url contains 'http' %}target="_blank" {% endif %} title="{{ contact_item.title }}">{{ contact_item.name }}</a>
                  </li>
              {% endfor %}
              </ul>
          </div><!-- /.large-4.columns -->


          <div class="small-6 medium-3 large-3 columns">
            {% for partners_item in site.data.partners %}
              {% if forloop.first == true %}
                <h5 class="shadow-black">{{ partners_item.menu_name }}</h5>
              {% endif %}
            {% endfor %}
              
            <ul class="no-bullet shadow-black">
            {% for partners_item in site.data.partners %}
              {% if partners_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% assign domain = site.baseurl %}{% endif %}
                <li {% if partners_item.class %}class="{{ partners_item.class }}" {% endif %}>
                  <a href="{{ domain }}{{ partners_item.url }}" {% if partners_item.url contains 'http' %}target="_blank" {% endif %} title="{{ partners_item.title }}">{{ partners_item.name }}</a>
                </li>
            {% endfor %}
            </ul>
          </div><!-- /.large-3.columns -->
        </div><!-- /.row -->

      </div><!-- /#footer -->
    </footer>
